# goldilocks-values.yaml
controller:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

dashboard:
  enabled: true
  service:
    type: LoadBalancer  # so you can access via browser
    port: 80
